*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
  }
.card{
    box-shadow: 0 4px 8px 0 rgb(255,16 , 240);
    padding: 16px;
    text-align: center;
    background-color: aliceblue;
}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
.row{
    margin: 0 -5px;
}
.row::after{
    content: '';
    display: table;
   clear: both;
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}